<!DOCTYPE html>

<html>

<head>
  <title>Request Header Parser</title>
  <link rel="shortcut icon"
    href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h1>Request Header Parser Microservice || ck-surya</h1>
    <hr>
    </hr>
    <form action="handleSubmit" method="get">
      <button type="button" onclick="getAddress()">Get Request Header</button>
    </form>
    <p id="data"></p>
    <div class="footer">
      <p>
        by <a href="https://www.freecodecamp.org">freeCodeCamp</a>
      </p>
    </div>
</body>
<script>
  const API_URL = "http://localhost:3000";
  function getAddress() {
    fetch(`${API_URL}/api/whoami`)
      .then(response => response.json())
      .then(data => {
        console.log(data);
        document.getElementById("data").innerHTML = JSON.stringify(data);
      })

  }

  document.addEventListener("DOMContentLoaded", function () {
    getAddress();
  });
</script>

</html>